<div class="mobile-navbar" id="mobileNavbar">
  <div class="navbar-item page" routerLink="home" routerLinkActive="text-bold active">
    <i class="fa-solid fa-book"></i>
    <small class="text-extra-small">{{'COMPONENTS.NAVBAR.ABOUT' | translate }}</small>
  </div>
  <div class="navbar-item page" routerLink="projects" routerLinkActive="text-bold active">
    <i class="fa-solid fa-list-check"></i>
    <small class="text-extra-small">{{'COMPONENTS.NAVBAR.PROJECTS' | translate }}</small>
  </div>
  <div class="navbar-item page" routerLink="contact" routerLinkActive="text-bold active">
    <i class="fa-regular fa-address-card"></i>
    <small class="text-extra-small">{{'COMPONENTS.NAVBAR.CONTACT' | translate }}</small>
  </div>

</div>
