.title {
  font-size: 24px;
  font-weight: bold;
}

.huge-text {
  font-size: 56px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
}
.text {
  font-size: 16px;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.primary-color {
  color: var(--primary-color);
}

.regular-color {
  color: var(--text-color)
}

.accent-color-1 {
  color: var(--accent-color-1);
}

.accent-color-2 {
  color: var(--accent-color-2);
}
