/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import 'typography';
@import "reset";
@import 'mixins';

* {
  box-sizing: border-box;
//debug
//  outline: 1px solid red;
}


[data-theme="dark"] {
  @include theme('dark');
}

[data-theme="light"] {
  @include theme('light');
}
body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Light", sans-serif;

  transition: background-color, color 0.3s ease;

  @include respond-to('md') {
    min-height: 100dvh;
  }
}

app-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "topbar" "content";

  @include respond-to('md') {
    grid-template-areas:
      "content"
      "tapbar";

    .tapbar {
      grid-area: tapbar;
      place-self: flex-end;
      width: 100%;
    }
  }
  }

  .topbar {
    grid-area: topbar;
  }

  .content {
    grid-area: content;
    grid-row: span auto;
  }


.card {
  background-color: $light-background-color;
  color: $light-text-color;
  padding: 24px;
  border-radius: 12%;
}

.typewriter-caret {
  font-weight: bold;
  color: var(--accent-color-2);
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

//app-root {
//  @include respond-to('md') {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//  }
//}
