.switch {
  width: 60px;
  height: 25px;
  border-radius: 20px;
  background-color: var(--opposite-background-color);
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .icon {
    font-size:25px;
    color: var(--background-color);
  }


  .handle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 4px;
    background-color: var(--accent-color-2);
    transition: transform 0.3s ease;

    &.on {
      transform: translateX(35px);
    }

  }
}
