
.wrapper {
  margin-left: 80px;
  margin-right: 80px;
}
.header {
  width: 100%;
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  grid-template-areas: "logo navbar settings";


  .settings {
    grid-area: settings;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
  }
  .navbar {
      grid-area: navbar;
      height: 45px;
      width: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      cursor: pointer;
  }
  .logo {
    grid-area: logo;
    width: 160px;
    height: 36px;
  }

}
