<main>
  <section id="about">

    <h1 [ngClass]="{'title': !isMobile, 'subtitle': isMobile}" [textContent]="'PAGES.ABOUT.ABOUT_ME' | translate"
        [typingSpeed]="35" appTypewriter></h1>

  </section>


  <div class="download-cv">
    <button (click)="openResume()" class="gradient-button">{{ 'LABEL.SEE_RESUME' | translate}}</button>
  </div>

  <section *ngIf="!isMobile" [ngClass]="{ 'blob-1': currentTheme === 'light', 'blob-2': currentTheme === 'dark'}"
           class="pixel-art">
    <img src="assets/gifs/spr_lucas.gif">
  </section>


</main>
