@import "mixins";

main {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  grid-template-areas:
    "about pixel-art pixel-art";

  @include respond-to('md') {
    display: flex;
    flex-direction: column;
  }

  gap: 32px;

  .pixel-art {
    grid-area: pixel-art;
    display: flex;
    justify-content: center;
    align-items: center;


    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 56%;

    &.blob-1 {
      background-image: url("/assets/svgs/pink_blob.svg");
    }

    &.blob-2 {
      background-image: url("/assets/svgs/green_blob.svg");
    }


    img {

      width: 500px;
      height: 500px;
    }
  }

  #about {
    grid-area: about;

    h1 {
      min-height: 250px;
    }
  }

}
