main {
  #skills {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: hidden;

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      //animation: slide 100s linear infinite;
    }

    .logo {
      flex: 0 0 auto;
      max-width: 280px;
      padding: 12px;
      border-radius: 10px;

      img {
        max-width: 256px;
        max-height: 100px;
        display: block;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 4));
  }
}
