<main>
  <section id="about">

    <h1 class="title"  appTypewriter [typingSpeed]="40">Sou um desenvolvedor front-end com quase <span class="accent-color-1">4 anos de experiência</span> transformando designs em interfaces incríveis usando tecnologias como <span class="accent-color-1">Angular</span>, <span class="accent-color-1">CSS3</span>, <span class="accent-color-1">SASS</span>, <span class="accent-color-1">Bootstrap</span>, <span class="accent-color-1">Tailwind</span> e o que há de mais moderno em web development. Apaixonado por criar belas <span class="accent-color-1">UI’s</span> que tornam a experiência do usuário única.</h1>
  </section>
  <section id="earth"></section>

  <section id="skills">
  <p class="huge-text text-center">Habilidades</p>
    <div class="logo-container">
      <div class="logo">
        <img src="./assets/angular_wordmark_gradient.png" alt="Angular logo">
      </div>
      <div class="logo">
        <img src="./assets/ts-logo-128.png" alt="Typescript logo">
      </div>
      <div class="logo">
        <img src="./assets/sass.png" alt="Sass logo">
      </div>
      <div class="logo">
        <img src="./assets/node.png" alt="NodeJs logo">
      </div>

      <div class="logo">
        <img src="./assets/bootstrap-logo.png" alt="Bootstrap logo">
      </div>

      <div class="logo">
        <img src="./assets/tailwind-logo.png" alt="Tailwind Css logo">
      </div>

      <div class="logo">
        <img src="./assets/git-logo.png" alt="Git logo">
      </div>

    </div>
  </section>

</main>
